<mat-grid-list cols="12" rowHeight="1:2">
  <mat-grid-tile [colspan]="2"></mat-grid-tile>
  <mat-grid-tile [colspan]="8">
    <mat-card class="example-card">
      <mat-card-title>Resultado: {{detalle?.title?.title}}</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"></mat-grid-tile>

  <mat-grid-tile [colspan]="2"></mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="12">

    <div class='internalMatGrid'>
      <mat-grid-list cols="2" rowHeight="1:2">

        <mat-grid-tile>
          <img style="text-align: center;" [src]="detalle?.title?.image?.url" [height]="detalle?.title?.image?.height! * .5" [width]="detalle?.title?.image?.width! * .5">
        </mat-grid-tile>
        <mat-grid-tile>

          <mat-card class="example-card">
            <mat-card-title>{{detalle?.title?.title}}</mat-card-title>
            <mat-card-subtitle>{{detalle?.title?.year}}</mat-card-subtitle>
            <mat-card-content>
              <p>Género:</p>
              <mat-chip-list>
                <mat-chip *ngFor="let genero of detalle?.genres">{{genero}}</mat-chip>
              </mat-chip-list>

              <br>
              <p>Reparto</p>

              <br>
              <p>Sinopsis</p>
              <p>{{detalle?.plotOutline?.text}}</p>

            </mat-card-content>
          </mat-card>

        </mat-grid-tile>

      </mat-grid-list>
    </div>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"></mat-grid-tile>


</mat-grid-list>
