<mat-card (click)="verDetalle()">
  <mat-card-title-group>
    <mat-card-title>{{pelicula?.title}}</mat-card-title>
    <mat-card-subtitle>{{pelicula?.year}}</mat-card-subtitle>
    <img mat-card-md-image [src]="pelicula?.image?.url">
  </mat-card-title-group>
  <mat-card-content>
    <div *ngFor="let actor of pelicula?.principals">
      {{actor?.name}}:
      <mat-chip-list>
        <mat-chip *ngFor="let rol of actor?.roles">{{rol?.character}}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
</mat-card>
