<mat-grid-list cols="12" rowHeight="1:1">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="8">
    <mat-card class="card-busqueda">
      <mat-card-title>
        Resultado de: {{busqueda}}
      </mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12" rowHeight="1:2">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="8" rowspan="10">

    <div class="internalMatGrid">
      <mat-grid-list cols="2" rowHeight="1:1">

        <mat-grid-tile *ngFor="let peli of listaPeliculas">

          <app-item-pelicula [pelicula]="peli" (onTap)="verDetallePelicula($event)"></app-item-pelicula>

        </mat-grid-tile>

      </mat-grid-list>
    </div>

  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>
