



<mat-grid-list cols="12" rowHeight="1:2" class="grilla">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="8">

    <mat-card>
      <mat-card-title>Busca tu película favorita</mat-card-title>
      <mat-card-content>

        <mat-form-field class="buscador" appearance="fill">
          <mat-label>Nombre de película</mat-label>
          <input matInput type="text" [(ngModel)]="texto" (keyup.enter)="buscarPeliculas()">
          <button matSuffix mat-icon-button (click)="buscarPeliculas()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>
